<!DOCTYPE html>
<html lang="pt-br" class="fundo-escuro">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IFMK</title>


  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="stylesheet" href="/bscss/bootstrap.min.css">
  <link rel="stylesheet" href="/bsicon/bootstrap-icons.css">

</head>

<body class="fundo-escuro">

  <header class="bg-dark">

    <div class="d-flex flex-column flex-shrink-0 bg-dark" id="navbar">
      <a href="/" class="d-block p-3 link-light text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="right">
        <img class="bi pe-none" width="40" height="32" src="">
          
        </img>
        <span class="visually-hidden">Icon-only</span>
      </a>
      <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li>
          <a href="/" class="nav-link py-3 border-bottom border-top rounded-0" data-bs-toggle="tooltip" data-bs-placement="right">
            <i class="bi bi-house-fill icon-azul"></i>
          </a>
        </li>
        <li>
          <a href="/ifmk" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right">
            <i class="bi bi-controller icon-vermelho"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/WilkerSebastian/IFMK" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right">
              <i class="bi bi-github icon-roxo"></i>
          </a>
        </li>
      </ul>
    </div>

  </header>
  <main class="conteiner-fluid" id="principal">

    <div class="mx-1">

      {{{body}}}

    </div>

  </main>
  <footer>


  </footer>

  <script src="/popperjs/popper.min.js"></script>
  <script src="/bsjs/bootstrap.min.js"></script>

</body>

</html>